<section class="bg-primary" id="about">
    <div class="container text-center">
        <h2 class="section-heading">What's EIF?</h2>
        <hr class="light">

        <div style="float:left; width:50%; padding:20px;">
          <img src="img\logo.jpg" class="img-responsive" alt="">
        </div>

        <div style="width:50%; float:left; padding:20px; text-align:left;">
          <p class="text-faded">EIF is a ground up initiative of the Southeast Community Development Council founded in 2007. With the potential for disruption and tension within our increasingly diverse society, it is even more essential that personal and relational communities are nurtured to flourish, EIF has grown with Singapore's deliberate current emphasis on racial and religious dialogue. EIF has been growing a genuine space and capacity for building meaningful interfaith awareness, understanding and friendships through dialogue. For the past decade in which EIF dialogues have been ongoing, our significance as well as contribution to advancing/spreading racial and religious harmony has been acknowledged as having a personal touch. Our facilitators are also often claimed to facilitate many national initiatives ranging from the annual Harmony Works Conference to Our Singapore Conversation dialogues.</p>
        </div>

        <a href="#activities" class="btn btn-default btn-xl">More about us</a>
    </div>

</section>
