<section id="activities">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What We Do</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-group wow bounceIn text-primary"></i>
                    <h3>Dialogues</h3>
                    <p class="text-muted">We organize dialogues across a variety of interfaith topics, from discussing the interrelation between faith and sexuality to sharing ideas about faith and art. We aim to create a safe and engaging space for our participants to feel comfortable sharing on topics that they otherwise would not have avenues to express their thoughts about, as these topics are often sensitive or rarely talked about. We are constantly introducing new topics in our series of dialogues, so be sure to keep your eyes out for them!</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-lightbulb-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>UnConference</h3>
                    <p class="text-muted">The UnConference, also know as "Open Space", is an innovative way for us to bring people together to work on issues facing their communities. It empowers participants to set agenda that are relevant, dynamic and flexible. Multiple track discussions circles balanced with larger group dialogues are also the hallmarks of the UnConference. Open to an extraordinary, highly engaging and deeply meaningful experience? Join us in our next UnConference to find out more!</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-comments wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Facilitator Training</h3>
                    <p class="text-muted">We invest time into training our volunteers to be skilled facilitators. Given the sensitive nature of the topics in our dialogues as well as the high level of engagement required of participants in our UnConference, we have to ensure that our facilitators are able to effectively and meaningfully motivate and mediate. Our facilitators are empowered to motivate participants to be active contributors in discussions, and are confident in creating a fun and supportive environment for sharing.</p>
                </div>
            </div>
        </div>
    </div>
</section>
