  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Find Out About Our Upcoming Events</h2>
                <div class="fb-page" style="display:block; margin-left: auto; margin-right: auto; width:40%;" data-href="https://www.facebook.com/pg/ExplorationsintoFaith/community/?ref=page_internal" data-tabs="events" data-width="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/pg/ExplorationsintoFaith/community/?ref=page_internal" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/pg/ExplorationsintoFaith/community/?ref=page_internal">Explorations into Faith</a></blockquote></div>
          </div>
      </div>
  </aside>
